# Скомпилированные и объектные файлы
*.so
*.dll
*.lib

# Файлы сборки и временные файлы
build/
dist/
out/
*.tmp

# Файлы, созданные Make/CMake/Ninja
Makefile
cmake-build-debug/
CMakeCache.txt
*~

# Файлы редактора и IDE
.vscode/
*.swp
.DS_Store